@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


:root {
    --sedans-color : hsl(31, 77%, 52%);
    --suvs-color : hsl(184, 100%, 22%);
    --luxury-color : hsl(179, 100%, 13%);
    --light-gray : hsl(0, 0%, 95%);
    --paragraps-color : hsla(0, 0%, 100%, 0.75);
}
body {
    height: 100vh;
    display: flex;
    align-items: center;
    background-color: var(--light-gray);
    justify-content: center;
}

.container {
    height: 28rem;
    width: 50rem;
    display: flex;
    align-items: center;
}

.car-card {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: start;
    gap: 45px;
    padding: 30px;

    
}

.car-icon {
    height: 3rem;
    width: 100px;
    background-repeat: no-repeat;
    background-size: contain;
}

.car-title {
    display: flex;
    color: rgba(250, 249, 249, 0.94);;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-evenly;
    font-family: "Big Shoulders Display", sans-serif;
    font-weight: 700;
    gap: 30px;
}


.car-description {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Lexend Deca", sans-serif;
    font-weight: 200;
    color: rgba(245, 245, 245, 0.614);
    font-size: 15px;
    gap: 5.5rem;
    
}

.car-description > a {
    text-decoration: none;
    color: whitesmoke;
    padding: 10px 30px;
    border: 2px solid whitesmoke;
    border-radius: 40px;
}

.car-description > a:hover {
    background-color: rgba(177, 174, 174, 0.452);
    transition: 0.3ms ease-in;

}




@media (max-width:640px) {
    .container {
        flex-direction: column;
    }
    .car-description {
        gap:1rem;
        font-size: 12px;
    }

    .car-card {
        gap: 30px;
    }
}
